<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">DuckFeed</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Surveys</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="food">Food</a>
      </li>
    </ul>
    <h6>
      <a class="nav-link text-decoration-none pl-0" routerLink="/">
        <button type="button" class="btn btn-outline-info">View site</button>
      </a>
    </h6>
    <h6>
        <button type="button" class="btn btn-outline-primary" (click)="logout()" *ngIf="authenticated">Logout</button>
    </h6>
  </div>
</nav>
